.board-list-cards {
  width: 300px;
  background-color: #222526;
  margin-right: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  max-height: 60px;
  margin: 0.5rem;

  .board-title-list {
    padding: 1rem;
  }

  .board-container-cards {
    overflow-x: auto;
    max-height: 55vh;
    padding: 0 1rem;
  }

  .board-card-container {
    overflow-y: hidden;
    margin: 0.5rem 0;
  }
}
